.page-wrapper{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    overflow:hidden;
    display:grid;
    grid-template-rows:auto 1fr;
    gap: 1em;
}
.bottom-row{
    display:grid;
    grid-template-columns:auto 1fr;
    overflow:hidden;
    min-height:0;
}
.top-nav, .side-nav{
    position:relative;
    padding:8px;
    overflow:scroll;
}
.top-nav>label{
    margin:0 1em;
}
.side-nav{
    width:18em;
}
.viewer-container{
    position:relative;
}
.viewer-container.side-by-side{
    position:relative;
    display:grid;
    grid-template-columns:50% 50%;
}
.viewer-container.stacked .viewer{
    position:absolute;
    top:0;
    left:0;
}
.viewer.transparent-glass{
    background-color:transparent;
    background-color:var(--background-color);
}
.viewer{
    background-color:black;
}
.viewer-container.stacked .viewer:not(:first-child){
    background-color:transparent;
}
.cursor-target{
    font-weight:bold;
}
.image-info{
    margin-bottom:0.5em;
}
.image-info h4{
    padding:0.1em 0;
    margin:0.1em 0;
}
.image-info .indent{
    padding:0 10px;
}
.image-info-grid{
    display:grid;
    grid-template-columns: auto 1fr;
}
.viewport-image-container{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:5px;
}
.image-info.viewport-images img{
    width:100%;
    border:thin gray solid;
    background-color:black;
    aspect-ratio: var(--img-aspect-ratio);
}
.viewer-container.stacked .viewer:last-child .openseadragon-canvas{
    opacity: var(--stacked-opacity);
}
.viewer-container.stacked .viewer:not(:last-child)>div:not([class]){
    opacity: 0;
    pointer-events: none;
}
.viewer-container.stacked .viewer:not(:last-child)>div:not([class]){
    opacity: 0;
    pointer-events: none;
}
.viewer{
    width:100%;
    height:100%;
    border:thin gray solid;
    position:relative;
}
.img-rect{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border:medium red solid;
    z-index:1000;
    width: 0;
    height: 0;
    display:none;
    pointer-events:none;
}
.viewport-images input[type=number]{
    width:4em;
}
.disabled{
    opacity:0.5;
    pointer-events:none;
}
.viewport-image-container{
    display: grid;
    grid-template-rows:50% 50%;
}
.viewport-image-container img{
    width:100%;
}

.image-registration {
    margin: 5% 0 5% 0;
    justify-content: space-around;
}

.homography-grid{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
}

.grid-item > input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 12px;
}

.grid-item{
    border:thin gray solid;
    background-color:var(--background-color);
    width: calc(100% * (1/2.85) - 10px);
}

